body {
    font-family: "PT Sans", "Segoe UI", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: black;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    text-transform: uppercase;
}

h1 {
    font-size: 30px;
    line-height: 35px;
    margin: 0;
}

h2 {
    font-size: 21px;
    margin: 0;
}

.main-header {
    margin: 0;
    padding: 0;
}

.container {
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
    position: relative;
}

.top-header {
    width: 100%;
    position: relative;
}

.top-header .main-logo {
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}


.main-header .main-nav {
    background-color: #ffffff;
}

.main-nav ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.main-nav li {
    width: 20%;
    text-align: center;
}

.main-nav li:nth-child(2) {
    margin-right: 23px;
    text-align: left;
}

.main-nav  li:nth-child(3) {
    text-align: right;
}

.main-nav a {
    font-size: 14px;
    line-height: 26px;
    display: block;
    text-decoration: none;
    color: #000000;
    padding: 14px 0 17px 0;
    
}

.main-nav a:hover {
    color: #81B3D2;
}

.main-nav a:active {
    color: #CACACA;
}

.promo {
    margin: 0 auto;
    background-image: url("../img/promo-background-photo.jpg");
    background-repeat: no-repeat;
    background-position: 100% 115% ;
}

.promo-headings {
    padding-top: 77px;
    padding-bottom: 78px;
    position: relative;
}

.promo-headings .promo-welcome {
    width: 256px;
    height: 85px;
    margin: 0 auto;
    background-image: url("../img/intro-welcome.png"),
                      url("../img/intro-gorgeous.png");
    background-repeat: no-repeat;
    background-position: 50% 0, 50% 100%;
    margin-bottom: 53px;
    
}

.promo-headings .promo-sedona {
    width: 458px;
    height: 78px;
    margin: 0 auto;
    margin-bottom: 56px;
    background-image: url("../img/intro-sedona.png");
    background-repeat: no-repeat;
}

.promo-headings .promo-grand-canyon {
    width: 296px;
    height: 80px;
    margin: auto;
    background-image: url("../img/intro-because.png");
    background-repeat: no-repeat;
}


.promo-headings .promo-element {
    width: 100%;
    height: 57px;
    background-image: url("../img/promo-photo-detail.png");
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    bottom: 0;
    
}

.promo-text {
    padding-top: 63px;
    padding-bottom: 53px;
    background-color: #ffffff;
}

.promo-text h2 {
    width: 516px;
    margin: auto;
    margin-bottom: 24px;
    text-align: center;
}

.promo-text p {
    font-family: "PT Sans", sans-serif;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    font-weight: 400;
    margin: 0;
}

.main-features .features-parts { 
    display: flex;
}

.main-features .features {
    width: 33.33%;
    text-align: center;
    padding-top: 46px;
    padding-bottom: 61px;
}

.features .features-headings {
    display: block;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    margin-bottom: 21px;
}


.features .features-description {
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    font-family: "PT Sans", "Segoe UI", sans-serif;
    font-weight: 400;
}


.main-features .dec-item {
    display: block;
    width: 50px;
    margin: 0 auto;
    position: relative;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    margin-bottom: 18px;
    
}


.features .part2-1-heading::before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 15px;
    background-image: url("../img/features-icon-sprite.png");
    background-repeat: no-repeat;
    background-position: 0.3% 20%;
}

.features .part2-2-heading::before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 15px;
    background-image: url("../img/features-icon-sprite.png");
    background-repeat: no-repeat;
    background-position: 50% 20%;
}

.features .part2-3-heading::before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 15px;
    background-image: url("../img/features-icon-sprite.png");
    background-repeat: no-repeat;
    background-position: 100% 20%;
}

.features-parts .item3, .item4, .item5 {
    padding-bottom: 84px;
}

.features-parts .item7 {
    padding-bottom: 62px;
}


.main-features .item2 {
    width: 66.66%;
    background-image: url("../img/content-photo1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 54%;
}

.main-features .item6 {
    width: 66.66%;
    background-image: url("../img/content-photo2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 53%;
}

.main-features .item1, .item7 {
    color: #ffffff;
    background-color: #81B3D2;
}

.main-features .item3, .item4, .item5 {
    background-color: #ffffff;
}


.main-features .item8, .item9, .item10 {
    background-color: #EEEEEE;
}


.item8 .dec-item::before {
    border-top: 2px solid #333333;
}
.item8 .dec-item::after {
    border-top: 2px solid #333333;
}
.item9 .dec-item::before {
    border-top: 2px solid #333333;
}
.item9 .dec-item::after {
    border-top: 2px solid #333333;
}
.item10 .dec-item::before {
    border-top: 2px solid #333333;
}
.item10 .dec-item::after {
    border-top: 2px solid #333333;
}

.fill-form {
    min-width: 768px;
    max-width: 1200px;
    background-color: #ffffff;
    text-align: center;
    padding-top: 50px;
}

.fill-form h1 {
    margin-bottom: 25px;
    padding: 0;
}
.fill-form .fill-form-paragraph {
    font-family: "PT Sans Regular", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 45px;
    margin-top: 0;
}

.search-box {
    width: 100%;
    position: relative;
}
.search-box .search-box-search {
    display: block;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    width: 568px;
    background: #766357;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    margin: 0 auto;
}

.search-box .search-box-form {
    width: 568px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #ffffff;
    padding-top: 55px;
    padding-bottom: 53px; 
    display: none;
}

@keyframes scaleup {
    0% { transform: scale(0); }
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
    
}

.search-box .search-box-form-show {
    display: block;
    animation-name: scaleup; 
    animation-duration: 1s;
}

.search-box ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 458px;
}

.search-box label {
    font-size: 14px;
    line-height: 26px;
    display: block;
    width: 115px;
    margin: 0;
    padding: 0;
    text-align: left;
}



.search-box li {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.search-box li:last-child {
    margin-bottom: 53px;
}

.search-box input[type="date"] {
    width: 346px;
    height: 38px;
    border: none;
    background-color: #F2F2F2;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    padding-left: 12px;
    box-sizing: border-box;    
    margin-left: 0px;

}



.search-box input::-webkit-calendar-picker-indicator, 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input::-webkit-search-cancel-button

{
    display: none;
}

.search-box input[type="date"]::after {
    content: "";
    width: 21px;
    height: 22px;
    display: block;
    background-image: url("../img/calendar-sprite.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-right: 9px;
}



.search-box input[type="date"]:hover {
    background-color: #EBEBEB;
}

.search-box input[type="date"]:hover::after {
        background-position: 0% 50%;
}

.search-box input[type="date"]:active::after {
        background-position: 0% 100%;
}

.search-box input[type="date"]:focus {
    outline: none;
    background-color: #FFFFFF;
    border: 2px solid #E5E5E5;
}

.search-box input[type="number"] {
    width: 114px;
    height: 38px;
    border: none;
    background-color: #F2F2F2;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    padding: 0;
    text-align: center;
    margin-left: 34px;
    position: relative;
}

.search-box input[type="number"]:last-child {
    margin-left: 0;
}

.search-box .children-q {
    margin-left: 35px;
}

.search-box input[type="number"]:focus {
    outline: none;   
}


.search-box-form .search-box-btn {
    width: 458px;
    height: 58px;
    padding: 0;
    border: none;
    background-color: #81B3D2;
    font-family: "PT Sans Bold", sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
}

.search-box-form .search-box-btn:hover{ 
    background-color: #669EC0;
    cursor: pointer;
}

.search-box-form .search-box-btn:active {
    background-color: #5496BD;
    color: #94B9D2;
}

.fill-form .background-map {
    width: 100%;
}

.fill-form .background-map img {
    width: 100%;
    height: auto;
}

.main-footer {
    display: flex;
    width: 100%;
    background-color: #ffffff;
    opacity: 0.9; 
    position: absolute;
    bottom: 0;
    padding-top: 34px;
    padding-bottom: 37px;
}

.main-footer .ftr-items {
    width: 33.33%;
}

.main-footer .hashtag {
    align-self: center;
    text-align: center; 
}

.main-footer .scn {
    align-self: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.scn .scn-btn {
    align-self: center;
    width: 46px;
    height: 48px;
    display: inline-block;
    background-color: #81B3D2;
}

.scn .scn-btn:hover {
    background-color: #669EC0;
}


.scn .twr {
    background-image: url("../img/scn-btn-sprite.png");
    background-repeat: no-repeat;
    background-position: -20% 49%;
    margin-right: 6px;
}

.scn .twr:active {
    background-image: url("../img/scn-btn-active.png");
    background-repeat: no-repeat;
    background-position: -20% 49%;
}

.scn .fb {
    background-image: url("../img/scn-btn-sprite.png");
    background-repeat: no-repeat;
    background-position: 51% 50%;
    margin-right: 6px;
}

.scn .fb:active {
    background-image: url("../img/scn-btn-active.png");
    background-repeat: no-repeat;
    background-position: 51% 51%;
}

.scn .ytb {
    background-image: url("../img/scn-btn-sprite.png");
    background-repeat: no-repeat;
    background-position: 117% 45%;
}

.scn .ytb:active {
    background-image: url("../img/scn-btn-active.png");
    background-repeat: no-repeat;
    background-position: 117% 45%;
}

.main-footer .ftr-logo {
    display: flex;
    justify-content: center;
}

.ftr-logo .ftr-logo-link {
    width: 195px;
    height: 39px;
    align-self: center;
    text-align: center;
    display: block;
    background-image: url("../img/footer-academy-sprite.png");
    background-repeat: no-repeat;
    background-position: 0% 0%;
}


.main-footer .ftr-logo-link:hover {
    background-image: url("../img/footer-academy-sprite.png");
    background-repeat: no-repeat;
    background-position: 0% 51%;
    cursor: pointer;
}

.main-footer .ftr-logo-link:active {
    background-image: url("../img/footer-academy-sprite.png");
    background-repeat: no-repeat;
    background-position: 0% 100%;
}


/* HERE START HOTELS */ 
/* HERE START HOTELS */ 
/* HERE START HOTELS */ 
/* HERE START HOTELS */ 
/* HERE START HOTELS */ 

.main-filter {
    height: 217px;
    background-image: url("../img/hotels-filter-background.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: 0% 20%;
}

.main-filter-form .form-container  {
    display: flex;
    width: 88%;
    margin: 0 auto;
    padding-top: 28px;
}

.main-filter-form .infrastructure, .housing-type {
    width: 25%;
}

.main-filter-form .range-filter {
    width: 50%;
}


.filter-blocks .filter-form-headings {
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    display: block;
    margin-bottom: 24px;
}


.filter-blocks ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter-blocks ul li:not(last-child) {
    margin-bottom: 23px;
}

.filter-blocks input[type="checkbox"] {
    display: none;
}

.filter-blocks label {
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    padding-left: 41px;
    position: relative;
}

.filter-blocks label::before {
    content: "";
    width: 26px;
    height: 22px;
    display: block;
    background-image: url("../img/checkbox-empty-sprite.png");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    position: absolute;
    left: 0;
}

 input[type="checkbox"]:checked ~ label::before {
    content: "";
    width: 26px;
    height: 22px;
    display: block;
    background-image: url("../img/checkbox-checked-sprite.png");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    position: absolute;
    left: 0;
}

.form-container .range-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.range-filter .filter-form-headings {
    margin-bottom: 12px;
}

.range-filter .range-indicator {
    width: 314px;
    height: 32px;
    border: 2px solid #FFFFFF;
    border-radius: 3px;
    position: relative;
    margin-bottom: 11px;
}

.range-filter .range-indicator::after {
    content: "";
    display: block;
    width: 2px;
    height: 22px;
    background-color: #FFFFFF;
    position: absolute;
    top: 5px;
    left: 157px; 
}

.range-indicator input[type="text"] {
    width: 157px;
    height: 32px;
    border: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    outline: none;
    background: transparent;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 21px;
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.range-filter .range-controls {
    width: 314px;
    height: 32px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.range-controls .range {
    width: 317px;
    height: 2px;
    background-color: #8E8180;
}

.range .range-element {
    width: 80%;
    height: 2px;
    background-color: #FFFFFF;
}

.range-controls .trigger {
    width: 4px;
    height: 4px;
    border: 8px solid #FFFFFF;
    border-radius: 50%;
    background-color: #ABABAB;
    position: absolute;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 1, 1, 0.2);
}

.range-controls .trigger:hover {
    background-color: #1C4F80;
}

.range-controls .min-trigger {
    left: 0;
}

.range-controls .min-trigger {
    left: 80%;
}

.main-filter-form .flt-btn {
    width: 133px;
    height: 32px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    border-radius: 3px;
    font-size: 14px;
    line-height: 21px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0;
    display: block;
}

.main-filter-form .flt-btn:hover {
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
}


.main-items .sortby {
    background-color: #ffffff;
    border-bottom: 1px solid #E5E5E5;
}

.sortby .sort-container {
    width: 88%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.sort-container .sort-left {
    width: 528px;

    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: baseline;

}

.sort-container .up-down {
    width: 36px;
    height: 26px;
    padding: 30px 0 30px 0;
    position: relative;
    display: flex;
    align-items: center;
}

.up-down .up {
    border-color: #BEBEBE #fff #fff #fff;
    border-style: solid;
    border-width: 9px 6px 6px;
    height: 0;
    width: 0;
    order: 1;
    transform: rotate(180deg);
    position: absolute; 
    left: 0;
    margin-bottom: 5px;
    cursor: pointer;
    
}

.up-down .up:hover {
    border-color: #000000 #fff #fff #fff;
}

.up-down .down {
    border-color: #81B3D2 #fff #fff #fff;
    border-style: solid;
    border-width: 9px 6px 6px;
    height: 0;
    width: 0;
    order: 2;
    position: absolute;
    right: 0;
    margin-top: 5px;
    cursor: pointer;
    
}

.up-down .down:hover {
    border-color: #000000 #fff #fff #fff;
}

.up-down .up:active {
    border-color: #81B3D2 #fff #fff #fff;
}

.up-down .down:active {
    border-color: #81B3D2 #fff #fff #fff;
}

.sortby .sortby-heading {
    font-family: "PT SANS", sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    display: inline-block;
    margin-right: 43px;
}

.sortby .sortby-sort { 
    font-size: 12px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    line-height: 18px;
    margin-right: 40px;
}

.sortby ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    align-items: center;
}


.sortby li .sortby-price {
    font-size: 12px;
    font-family: "PT Sans Regular", sans-serif;
    font-weight: 400;
    line-height: 18px;
    color: #81B3D2;
    margin-right: 33px;
}

.sortby li:nth-child(2) {
    margin-right: 34px;
}

.sortby li a {
    font-size: 12px;
    font-family: "PT Sans Regular", sans-serif;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    border-bottom: 1px dotted #81B3D2;
    color: #C3C3C3;
}

.sortby li a:hover {
    color: #81B3D2;
}

.sortby li a:active {
    border: none;
    color: #000000;
}

.main-items .catalog {
    background-color: #ffffff;
    border-bottom: 1px solid #E5E5E5;
    padding-top: 29px;
    padding-bottom: 29px;
}

.catalog .catalog-container {
    width: 88%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.catalog-container .item-info {
    display: flex;
}

.item-info .item-image {
    margin-right: 30px;
}


.item-info-group .item-desc {
    display: flex;
    width: 245px;
    flex-wrap: wrap;
}

.item-desc .hotel-name {
    font-size: 21px;
    line-height: 26px;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    margin-bottom: 8px;
    color: #000000;
}

.item-desc .hotel-name:hover {
    color: #81b3d2;
    cursor: pointer;
}

.item-desc .hotel-name:active {
    color: #CACACA;
}

.catalog span {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-family: "PT Sans Regular", sans-serif;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 9px;
}

.item-desc span {
    display: inline-block;
    margin-right: 40px;
}


.catalog a {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #ffffff;
}

.item-buttons .more {
    width: 110px;
    background-color: #81B3D2;
    text-align: center;
    margin-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.item-buttons .more:hover {
    background-color: #669EC0;
}

.item-buttons .more:active {
    background-color: #5496BD;
    color: #94B9D2;
}

.item-buttons .reserve {
    width: 142px;
    background-color: #766357;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}

.item-buttons .reserve:hover {
    background-color: #604E43;
}

.item-buttons .reserve:active {
    background-color: #503E33;
    color: #928A85;
}

.catalog .star-rating {
    display: flex;
    align-items: flex-end;
    position: relative;
}

.star-rating .str {
    display: inline-block;
    width: 110px;
    height: 27px;
    background-color: #F2F2F2;
    color: #666666;
    text-align: center;
    padding-top: 3px;
    box-sizing: border-box;
}

.star-rating .str::before {
    content: "";
    width: 91px;
    height: 20px;
    background-image: url("../img/stars.png");
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

.star-rating .stars3::before {
    width: 66px;
} 

.star-rating .stars2::before {
    width: 43px;
} 


.container .hotel-footer  {
    display: flex;
    width: 100%;
    background-color: #ffffff;
    opacity: 0.9; 
    bottom: 0;
    padding-top: 40px;
    padding-bottom: 40px;
}

.hotel-footer .ftr-items {
    width: 33.33%;
}

.hotel-footer .hashtag {
    align-self: center;
    text-align: center; 
}

.hotel-footer .scn {
    align-self: center;
    text-align: center;
    display: flex;
    justify-content: center;
}


.hotel-footer .ftr-logo {
    display: flex;
    justify-content: center;
}


.hotel-footer .ftr-logo-link:hover {
    background-image: url("../img/footer-academy-sprite.png");
    background-repeat: no-repeat;
    background-position: 0% 51%;
    cursor: pointer;
}

.hotel-footer .ftr-logo-link:active {
    background-image: url("../img/footer-academy-sprite.png");
    background-repeat: no-repeat;
    background-position: 0% 100%;
}
