body {
    font-family: "PT Sans Bold", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: black;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    text-transform: uppercase;
}

h1 {
    font-size: 30px;
    line-height: 35px;
    margin: 0;
}

h2 {
    font-size: 21px;
    margin: 0;
}

.main-header {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.main-header .main-nav {
    background-color: #ffffff;
}

.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-nav li {
    display: inline-block;
    padding: 16px 0 16px 0;
    vertical-align: top;
    
}

.main-nav a {
    display: block;
    text-decoration: none;
    color: #000000;
    
}

.main-nav li:first-child {
    margin-left: 73px;
    margin-right: 147px;
}


.main-nav li:nth-child(2) {
    margin-right: 120px;
}


.main-logo img {
    position: absolute;
    top: 0;
    left: -30px;
}

.main-logo {
    margin-right: 220px;
    position: relative;
}

.main-nav li:nth-child(4) {
    margin-right: 145px;
}

.main-nav li:last-child {
    margin-right: 73px;
}

.promo {
    height: 727px;
    margin: 0;
    background-image: url("../img/promo-background-photo.jpg");
    background-repeat: no-repeat;
    background-position: 100% 20% ;
}

.promo-headings {
    padding-top: 77px;
}

.promo-headings .promo-welcome {
    width: 256px;
    height: 85px;
    margin: 0 auto;
    background-image: url("../img/intro-welcome.png"),
                      url("../img/intro-gorgeous.png");
    background-repeat: no-repeat;
    background-position: 50% 0, 50% 100%;
    
}

.promo-headings .promo-sedona {
    width: 458px;
    height: 78px;
    margin: 0 auto;
    margin-top: 57px;
    background-image: url("../img/intro-sedona.png");
    background-repeat: no-repeat;
}

.promo-headings .promo-grand-canyon {
    width: 296px;
    height: 80px;
    margin: auto;
    margin-top: 55px;
    background-image: url("../img/intro-because.png");
    background-repeat: no-repeat;
}


.promo-headings .promo-element {
    width: 1200px;
    height: 57px;
    margin-top: 23px;
    background-image: url("../img/promo-photo-detail.png");
    background-repeat: no-repeat;
}

.promo-text {
    height: 216px;
    background-color: #ffffff;
}

.promo-text h2 {
    width: 516px;
    margin: auto;
    text-align: center;
    padding-top: 63px;
}

.promo-text p {
    font-family: "PT Sans Regular", sans-serif;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    font-weight: 400;
}

.main-features { 

}

.main-features .features {
    width: 400px;
    height: 256px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.main-features .features h2 {
    font-size: 21px;
    line-height: 21px;
    margin-top: 42px
}

.main-features .features p {
    font-family: "PT Sans Regular", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    margin-top: 25px;
    color: #333333;
}

.main-features .dec-item {
    width: 50px;
    margin: 0 auto;
    margin-top: 26px;
    position: relative;
    
}

.main-features .dec-item::before {
    content: "";
    display: block;
    width: 9px;
    border-bottom: 2px solid white;
    position: absolute;
    top: 9px;
}

.main-features .dec-item::after {
    content: "";
    display: block;
    width: 9px;
    border-top: 2px solid white;
    position: absolute;
    bottom: 10px;
    left: 39px
}

.main-features .item2 {
    width: 800px;
    height: 256px;
    display: inline-block;
    vertical-align: top;
    background-image: url("../img/content-photo1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 50%;
}
.main-features .item1 p {
    color: #ffffff;
}

.main-features .item7 p {
    color: #ffffff;
}

.main-features .item6 {
    width: 800px;
    height: 256px;
    display: inline-block;
    vertical-align: top;
    background-image: url("../img/content-photo2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 50%;
}

.main-features .item1, .item7 {
    color: #ffffff;
    background-color: #81B3D2;
}

.main-features .item3, .item4, .item5 {
    background-color: #ffffff;
}

.main-features .item3 h2 {
    margin-top: 133px;
}
.main-features .item4 h2 {
    margin-top: 133px;
} 

.main-features .item5 h2 {
    margin-top: 133px;
}

.main-features .item8, .item9, .item10 {
    background-color: #EEEEEE;
}

.main-features .item3 { 
    background-image: url("../img/features-icon-sprite.png");
    background-repeat: no-repeat;
    background-position: -29% 15%;
}

.main-features .item4 { 
    background-image: url("../img/features-icon-sprite.png");
    background-repeat: no-repeat;
    background-position: 50% 15%;
}

.main-features .item5 { 
    background-image: url("../img/features-icon-sprite.png");
    background-repeat: no-repeat;
    background-position: 130% 15%;
}

.item8 .dec-item::before {
    border-top: 2px solid #333333;
}
.item8 .dec-item::after {
    border-top: 2px solid #333333;
}
.item9 .dec-item::before {
    border-top: 2px solid #333333;
}
.item9 .dec-item::after {
    border-top: 2px solid #333333;
}
.item10 .dec-item::before {
    border-top: 2px solid #333333;
}
.item10 .dec-item::after {
    border-top: 2px solid #333333;
}

.fill-form {
    background-color: #ffffff;
    text-align: center;
}

.fill-form h1 {
    padding-top: 57px;
}

.fill-form p {
    font-family: "PT Sans Regular", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    margin: 35px 0 50px 0;
}

.search-box {
    position: relative;
}
.search-box h2 {
    width: 568px;
    height: 86px;
    background: #766357;
    color: #ffffff;
    padding-top: 30px;
    box-sizing: border-box;
    margin: 0 auto;
}

.search-box form {
    width: 568px;
    height: 395px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
    position: absolute;
    left: 316px;
    background-color: #ffffff;
    
}

.search-box ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 477px;
}

.search-box ul li {
    padding: 0;
}

.search-box li:first-child {
    margin-top: 55px;
    margin-bottom: 30px;
}

form input[type="date"] {
    width: 346px;
    height: 38px;
    border: none;
    background-color: #F2F2F2;
    font-family: "PT Sans Bold", sans-serif;
    font-weight: bold;
    padding-left: 15px;
    box-sizing: border-box;
    margin-left: 15px;
    background-image: url("../img/calendar-icon.png");
    background-repeat: no-repeat;
    background-position:  97% 50%;
}

form input[type="number"] {
    width: 114px;
    height: 38px;
    border: none;
    background-color: #F2F2F2;
    font-family: "PT Sans Bold", sans-serif;
    font-weight: bold;
    padding-left: 15px;
    box-sizing: border-box;
}

.search-box li:nth-child(3){
    display: inline-block;
    margin-top: 30px;
    margin-right: 53px;
}

.search-box li:nth-child(4) {
    display: inline-block;
     margin-top: 30px;
}

form .search-box-btn {
    width: 458px;
    height: 58px;
    margin-top: 53px;
    border: none;
    background-color: #81B3D2;
    font-family: "PT Sans Bold", sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
}

.main-footer {
}

.main-footer .container {
    width: 1200px;
    height: 120px;
    background-color: #ffffff;
    opacity: 0.9; 

}

.container .ftr-items {
    display: inline-block;
    vertical-align: top;
    
}

.container .hashtag {
    margin-top: 49px;
    margin-left: 73px;
    vertical-align: top;
}

.container .scn {
    width: 389px;
    margin-left: 140px;
    text-align: center;
    margin-top: 34px;
    
}

.scn .scn-btn {
    width: 46px;
    height: 48px;
    display: inline-block;
    background-color: #81B3D2;
    margin-right: 6px;
}

.scn .twr {
    background-image: url("../img/scn-btn-sprite.png");
    background-repeat: no-repeat;
    background-position: -20% 49%;
}

.scn .fb {
    background-image: url("../img/scn-btn-sprite.png");
    background-repeat: no-repeat;
    background-position: 50% 49%;
}

.scn .ytb {
    background-image: url("../img/scn-btn-sprite.png");
    background-repeat: no-repeat;
    background-position: 117% 45%;
}



.container .ftr-logo {
    width: 240px;
    margin-left: 120px;
    margin-right: 73px;
    vertical-align: top;

}

.ftr-logo img {
    vertical-align: top;
    margin-top: 41px;
}

.ftr-logo span {
    display: inline-block;
    margin-top: 45px;
    margin-right: 5px;
}

/* HERE START HOTELS */ 
/* HERE START HOTELS */ 
/* HERE START HOTELS */ 
/* HERE START HOTELS */ 
/* HERE START HOTELS */ 

.main-filter {
    height: 217px;
    background-image: url("../img/hotels-filter-background.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: 0% 20%;
}

.filter-blocks {
    width: 240px;
    display: inline-block;
    vertical-align: top;
}

.filter-blocks ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

form .range-filter {
    width: 328px;
    
}

form .flt-btn {
    width: 133px;
    height: 32px;
}

.main-filter .infrastructure {
    margin-left: 73px;
}

.main-items .sortby {
    height: 87px;
    border-bottom: 1px solid #F2F2F2;
    background: #ffffff;
}

.sortby h2 {
    display: inline-block;
    margin-left: 73px;
    margin-top: 31px;
    margin-right: 30px;
}

.sortby span { 
    display: inline-block;
    font-size: 12px;
    font-family: "PT Sans Regular", sans-serif;
    font-weight: 400;
    line-height: 18px;
    margin-right: 20px;
}

.sortby a {
    font-size: 12px;
    font-family: "PT Sans Regular", sans-serif;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    border-bottom: 1px dotted #81B3D2;
    color: #C3C3C3;
    margin-right: 12px;
    
    
}

.sortby li span {
    color: #81B3D2;
}



.sortby ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.sortby ul li {
    display: inline-block;
}

.sortby .up-down {
    float: right;
}

.main-items .catalog {
    height: 150px;
    background-color: #ffffff;
    border-bottom: 1px solid #F2F2F2;
}

.catalog img {
    margin-left: 73px;
    margin-top: 32px;
    margin-right: 30px;
}

.catalog h2 {
    vertical-align: top;
    margin-top: 29px;
    display: inline-block;
}

.catalog span {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-family: "PT Sans Regular", sans-serif;
    font-weight: 400;
    line-height: 21px;
    
}

.catalog a {
    display: inline-block;
    vertical-align: top;    
}

.catalog .star-rating {
    display: inline-block;
    float: right;
}








